# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env

# Ignore Visual Studio Code configuration files
.vscode/
